@charset "utf-8";
@import "base";
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

$base-color: #ff8000;
$black: shade($base-color, 60%);
$white: tint($base-color, 40%);
$canvas-color: tint($base-color, 20%);
$text-color: $black;
$secondary-color: shade($canvas-color, 20%);
$secondary-text-color: shade($secondary-color, 20%);
$gutter: 0.6rem;
$vertical-padding: 1.4rem;
$serif: Georgia, serif;
$sans-serif: 'Helvetica Neue', sans-serif;

html {
  color: $text-color;
  background-color: $canvas-color;
  font-family: $serif;
}

body {
  max-width: 42rem;
  margin: 0 auto;
}

// Reset headings
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: normal;
}

.pagehead {
  padding: 2em $gutter;
}

.pagehead-title {
  font-weight: bold;
  font-family: $sans-serif;
}

.pagehead-subheading {
  font-weight: bold;
}

.pagecontent {
  padding: $vertical-padding $gutter;
}

.section {
  margin-bottom: 3rem;
}
.section-heading {
  font-size: 0.8rem;
  // font-family: $serif;
  padding: 0.4em 0 0.6em 0;
  margin: 0;
  color: $secondary-text-color;
  border-bottom: 1px solid $secondary-color;
}

.legible {
  // font-family: $serif;
}

%heading {
  font-weight: normal;
}

.feature {
}
.feature-heading {
  @extend %heading;
  font-size: 1.6rem;
}

.project {
  padding: $vertical-padding 0;
}
.project-heading {
  @extend %heading;
}

.footer {
  color: $secondary-text-color;
}
