@charset "utf-8";
@import "base";
@import "breakpoint";
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

$base-color:  white; // Oder #ff8000 ?
$highlight-color: #ff8000; // Used for the header
$canvas-color: shade($base-color, 5%);
$text-color: shade($canvas-color, 70%);
$border-color: shade($canvas-color, 10%);
$secondary-text-color: shade($canvas-color, 30%);

$page-gutter: 0.5rem;
$grid-padding: 1rem;
$vertical-padding: 1.4rem;

$sans-serif: 'Helvetica Neue', sans-serif;
$serif: Georgia, serif;

$large-screen: 640px;

// Minimal shared styles for headings
%heading {
  font-weight: normal;
  font-family: $serif;
}

a {
  color: inherit;
  &:hover {
    color: $highlight-color;
    background: tint($highlight-color, 60%);
    text-decoration: none;
  }
}

.units {
  width: 100%;
  @include breakpoint($large-screen) {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    padding-right: $grid-padding;
    width: auto;
    // This is ana eight column grid.
    $unit: 100% / 8;
    &.one { width: $unit * 1 }
    &.two { width: $unit * 2 }
    &.three { width: $unit * 3 }
    &.four { width: $unit * 4 }
    &.five { width: $unit * 5 }
    &.six { width: $unit * 6 }
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

// Make all images scale (taken from foundation/grid)
img { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }

html {
  color: $text-color;
  font-family: $sans-serif;
  line-height: 1.5;
  background-color: $canvas-color;
}

// Reset headings
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0.5em 0;
}

.testimonial {
  border-radius: 5px;
  color: $secondary-text-color;
}
blockquote {
  font-size: 1.8rem;
  font-family: $serif;
  margin: 0.1em;
  &::before {
    content: '\201E';
  }
  &::after {
    content: '\201C';
  }
}
cite {
  font-style: normal;
  font-size: 0.8rem;

}

.header-wrapper {
  background: $highlight-color;
  border-bottom: 2px solid tint($highlight-color, 20%);
  padding: 1rem 0 2.6rem;
}
.header {
  max-width: 52rem;
  margin: 0 auto;
  padding-left: $page-gutter;
  padding-right: $page-gutter;
  color: shade($highlight-color, 60%);
}
.header-heading {
  font-weight: bold;
  font-family: $sans-serif;
  line-height: 1.2;
  margin: 0 0 0.7em 0;
  padding: 2em 0;
}
.header-subheading {
  font-weight: normal;
}

.about {
  font-size: 1.3rem;
  font-weight: bold;
}

.main-wrapper {
  max-width: 42rem;
  margin: 0 auto;
  padding-left: $page-gutter;
  padding-right: $page-gutter;
}
.main {
  padding-top: 2em;
}


.section {
  margin-bottom: 3rem;
}
.section-heading {
  font-size: 0.8rem;
  padding: 0.4em 0;
  margin: 0;
  border-bottom: 1px solid $border-color;
  color: $secondary-text-color;
}

.featured-heading {
  @extend %heading;
  font-size: 1.3rem;
}

.text {
  font-family: $serif;
}

.project {
  padding: $vertical-padding 0;
}
.project-heading {
  @extend %heading;
}

.footer {
  @extend .pagebox;
  color: $secondary-text-color;
}
