@charset "utf-8";
@import "base";
@import "compass";
@import "breakpoint";
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

$white: white;

$highlight-color: #ff8b19; // Used for the header
$canvas-color: $white;
$text-color: shade($canvas-color, 70%);
$border-color: shade($canvas-color, 10%);
$secondary-text-color: shade($canvas-color, 30%);

$base-line-height: 1.5;
$base-font-size: 16px;

$footer-bg-color: mix($highlight-color, $canvas-color, 20%);
$footer-text-color: shade($footer-bg-color, 40%);
$footer-secondary-text-color: shade($footer-bg-color, 30%);
$footer-border-color: shade($footer-bg-color, 10%);

$page-gutter: 1rem;
$grid-padding: 1.2rem;
$vertical-padding: 1.4rem;

$sans-serif: 'Helvetica Neue', sans-serif;
$serif: 'Vollkorn', serif;

$large-screen: 640px;

@mixin padded_row {
  $width: 52rem;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
  max-width: $width;
  margin: 0 auto;
  @include breakpoint($width + 2 * $page-gutter) {
    @include experimental-value(padding-left, calc(50% - #{$width / 2}));
    @include experimental-value(padding-right, calc(50% - #{$width / 2}));
  }
}

a {
  color: $highlight-color;
  &:hover {
    color: white;
    background: $highlight-color;
  }
}

.units {
  width: 100%;
  padding-bottom: 1rem;
  @include breakpoint($large-screen) {
    @include box-sizing(border-box);
    vertical-align: top;
    display: inline-block;
    width: auto;
    padding-bottom: 0;
    padding-right: $grid-padding;
    &.last {
      padding-right: 0;
    }
    // This is ana eight column grid.
    $unit: 100% / 12;
    &.two { width: $unit * 2 }
    &.three { width: $unit * 3 }
    &.four { width: $unit * 4 }
    &.five { width: $unit * 5 }
    &.six { width: $unit * 6 }
    &.eight { width: $unit * 6 }
    &.ten { width: $unit * 10 }
  }
}

.row {
  clear: both;
}

.float-right { float: right;}
.float-left { float: left; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

// Make all images scale (taken from foundation/grid)
img { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }

html {
  color: $text-color;
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $canvas-color;
}

hr {
  border-top: 1px solid rgba(#333, 0.3);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

// Reset headings
h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom:  $vertical-padding;
}

.h {
  font-weight: normal;
  font-family: $serif;
  margin-bottom: 0.3em;
}

.h--featured {
  font-size: 1.3rem;
}

.avatar {
  img {
    border-radius: 100%;
    max-width: 140px;
  }
}

.valign-middle {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  @include padded_row;
  padding-top: 1em;
  background: $footer-bg-color;
  border-top: 1px solid shade($footer-bg-color, 10%);
  border-bottom: 2px solid shade($footer-bg-color, 10%);
  color: $footer-text-color;
}

.project-quote {
  color: $secondary-text-color;
  margin-bottom: $vertical-padding;
  blockquote {
    font-size: 1.8rem;
  }
}


blockquote {
  font-family: $serif;
  font-style: italic;
  margin: 0.1rem;
  &::before {
    content: '\201E';
  }
  &::after {
    content: '\201C';
  }
}

cite {
  font-style: normal;
  font-size: 0.8rem;

}

.header {
  background: $highlight-color;
  border-bottom: 1px solid shade($highlight-color, 10%);
  padding-bottom: $vertical-padding;
  color: shade($highlight-color, 70%);
  @include breakpoint($large-screen) {
    padding-top: $vertical-padding;
  }
}
.header-title {
  text-align: center;
}
.header-logo {
  margin: 1rem 0;
  max-width: 150px;
  @include breakpoint($large-screen) {
    max-width: none;
  }
}
.header-heading {
  font-weight: bold;
  line-height: 1.2;
  margin: 0 0 0.7rem 0;
  padding: 2rem 0;
}
.header-subheading {
  font-weight: normal;
}

.header-about {
  @include padded_row;
  // font-size: 1.3rem;
  font-weight: bold;
}

.main {
  @include padded_row;
}

.section-heading {
  font-size: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-top: $vertical-padding;
  margin-bottom: $vertical-padding / 2;
  border-bottom: 1px solid $footer-border-color;
  color: $footer-secondary-text-color;
}

.section-heading--footer {
  border-bottom-color: $footer-border-color;
  color: $footer-secondary-text-color;
}

.text {
  font-family: $serif;
}

.project {
  padding-bottom: $vertical-padding * 2;
}

.figure {
  margin-bottom: 0.5em;
}
.figure-img {
  box-shadow: 0 1px 3px rgba(#333, 0.5);
}
